In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('DatosVino(in).csv')

Trabajaremos con un conjunto de datos de vinos, y nuestro objetivo será predecir tanto el precio como la calidad de una botella de vino.

In [3]:
df.head(2)

,ID,Beneficio,Compra,Acidez,AcidoCitrico,pH,CloruroSodico,Densidad,Azucar,Sulfatos,Alcohol,Etiqueta,CalifProductor,Clasificacion,Region,PrecioBotella
0,13606,0,0,0.39,0.14,4.99,0.073,1.02195,5.9,0.12,6.6,B,5,?,1.0,4.56
1,3119,0,0,2.19,2.58,5.54,0.205,0.95373,6.4,0.49,112.0,b,4,?,NaN,3.01

Exploración de los Datos (EDA - Exploratory Data Analysis)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6365 entries, 0 to 6364
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              6365 non-null   int64
 1   Beneficio       6365 non-null   int64
 2   Compra          6365 non-null   int64
 3   Acidez          6365 non-null   float64
 4   AcidoCitrico    6365 non-null   float64
 5   pH              6365 non-null   float64
 6   CloruroSodico   6365 non-null   float64
 7   Densidad        6365 non-null   float64
 8   Azucar          6365 non-null   float64
 9   Sulfatos        5761 non-null   float64
 10  Alcohol         6365 non-null   float64
 11  Etiqueta        6365 non-null   object
 12  CalifProductor  6365 non-null   int64
 13  Clasificacion   6365 non-null   object
 14  Region          6258 non-null   float64
 15  PrecioBotella   6365 non-null   float64
dtypes: float64(10), int64(4), object(2)
memory usage: 795.8+ KB

In [5]:
df.describe()

,ID,Beneficio,Compra,Acidez,AcidoCitrico,pH,CloruroSodico,Densidad,Azucar,Sulfatos,Alcohol,CalifProductor,Region,PrecioBotella
count,6365.000000,6365.000000,6365.000000,6365.000000,6365.000000,6365.000000,6365.000000,6365.000000,6365.000000,5761.000000,6365.000000,6365.000000,6258.000000,6365.000000
mean,8010.702278,452.380204,0.785232,0.331214,0.314350,7.528735,46.977608,0.994204,8.851280,0.526659,17.460723,2.758523,2.011665,2.610652
std,4654.939139,308.380542,0.410694,0.787534,0.861428,1.118732,211.381101,0.026417,3.212404,0.948039,25.261544,1.302336,0.818336,1.480274
min,2.000000,0.000000,0.000000,-2.790000,-3.240000,4.800000,-1.171000,0.888090,0.000000,-3.120000,-4.500000,0.000000,1.000000,1.000000
25%,3980.000000,236.000000,1.000000,0.130000,0.020000,6.820000,-0.004000,0.988245,6.700000,0.280000,9.900000,2.000000,1.000000,1.420000
50%,8065.000000,480.000000,1.000000,0.280000,0.310000,7.920000,0.048000,0.994400,8.900000,0.500000,11.600000,3.000000,2.000000,2.190000
75%,12027.000000,671.000000,1.000000,0.650000,0.580000,8.400000,0.224000,1.000600,11.000000,0.880000,14.000000,3.000000,3.000000,3.440000
max,16128.000000,1568.000000,1.000000,3.680000,3.860000,9.300000,999.000000,1.099240,21.000000,4.210000,150.000000,9.000000,3.000000,11.440000

In [6]:
df.isnull().sum()

ID                  0
Beneficio           0
Compra              0
Acidez              0
AcidoCitrico        0
pH                  0
CloruroSodico       0
Densidad            0
Azucar              0
Sulfatos          604
Alcohol             0
Etiqueta            0
CalifProductor      0
Clasificacion       0
Region            107
PrecioBotella       0
dtype: int64

In [7]:
# Eliminar filas con valores nulos
df = df.dropna(subset=['Region'])

In [8]:
# Manejar valores anómalos en 'CloruroSodico' y 'Alcohol'
df = df[(df['Alcohol'] >= 0) & (df['Alcohol'] <= 100)]

In [9]:
df = df[(df['Azucar'] >= 0) & (df['Densidad'] >= 0)]

In [10]:
df.isnull().sum()

ID                  0
Beneficio           0
Compra              0
Acidez              0
AcidoCitrico        0
pH                  0
CloruroSodico       0
Densidad            0
Azucar              0
Sulfatos          560
Alcohol             0
Etiqueta            0
CalifProductor      0
Clasificacion       0
Region              0
PrecioBotella       0
dtype: int64

In [11]:
df['Sulfatos'] = df['Sulfatos'].fillna(df['Sulfatos'].mean())

In [12]:
df.CalifProductor.unique()

array([5, 2, 4, 3, 6, 7, 1, 8, 0, 9], dtype=int64)

In [13]:
df.Region.unique()

array([1., 3., 2.])

In [14]:
df.Etiqueta.unique()

array(['B', 'R', 'M', 'r', 'MB', 'MM', 'mb', 'b', 'm', 'mm'], dtype=object)

In [15]:
df['Etiqueta'] = df['Etiqueta'].str.upper()

In [16]:
df.duplicated().sum()

0

In [17]:
df.head()

,ID,Beneficio,Compra,Acidez,AcidoCitrico,pH,CloruroSodico,Densidad,Azucar,Sulfatos,Alcohol,Etiqueta,CalifProductor,Clasificacion,Region,PrecioBotella
0,13606,0,0,0.39,0.14,4.99,0.073,1.02195,5.9,0.12,6.6,B,5,?,1.0,4.56
2,1190,0,0,1.44,-1.54,5.10,0.058,0.99271,7.1,0.39,10.2,B,2,?,1.0,1.00
3,5261,0,0,0.50,0.30,5.23,0.276,0.99590,3.5,-0.81,4.4,R,4,?,3.0,1.85
4,2871,0,0,-0.10,0.30,5.75,0.048,1.02724,7.2,0.44,10.1,M,2,?,1.0,1.28
6,11763,0,0,0.85,0.14,5.74,0.169,0.96464,7.4,-0.99,10.1,R,4,?,1.0,2.10

Columna Etiqueta

In [18]:
# Crear un mapeo de etiquetas a números con sus descripciones
label_mapping = {
    'MM': 1,  # Muy malo
    'M': 2,   # Malo
    'R': 3,   # Regular
    'B': 4,   # Bueno
    'MB': 5   # Muy bueno
}

# Aplicar el mapeo a la columna 'Etiqueta'
df['Etiqueta'] = df['Etiqueta'].map(label_mapping)

Columna Calificacion

In [19]:
# Crear un mapeo de clasificaciones a números
classification_mapping = {
    '?': 0,    # Desconocido
    '*': 1,    # 1 estrella
    '**': 2,   # 2 estrellas
    '***': 3,  # 3 estrellas
    '****': 4  # 4 estrellas
}

# Aplicar el mapeo a la columna 'Clasificacion'
df['Clasificacion'] = df['Clasificacion'].map(classification_mapping)

In [20]:
df.head()

,ID,Beneficio,Compra,Acidez,AcidoCitrico,pH,CloruroSodico,Densidad,Azucar,Sulfatos,Alcohol,Etiqueta,CalifProductor,Clasificacion,Region,PrecioBotella
0,13606,0,0,0.39,0.14,4.99,0.073,1.02195,5.9,0.12,6.6,4,5,0,1.0,4.56
2,1190,0,0,1.44,-1.54,5.10,0.058,0.99271,7.1,0.39,10.2,4,2,0,1.0,1.00
3,5261,0,0,0.50,0.30,5.23,0.276,0.99590,3.5,-0.81,4.4,3,4,0,3.0,1.85
4,2871,0,0,-0.10,0.30,5.75,0.048,1.02724,7.2,0.44,10.1,2,2,0,1.0,1.28
6,11763,0,0,0.85,0.14,5.74,0.169,0.96464,7.4,-0.99,10.1,3,4,0,1.0,2.10

Como el objetivo es preparar los datos para un modelo de machine learning y ID no aporta información relevante, es recomendable eliminarlo.

In [21]:
df = df.drop(columns='ID')

In [22]:
df.head()

,Beneficio,Compra,Acidez,AcidoCitrico,pH,CloruroSodico,Densidad,Azucar,Sulfatos,Alcohol,Etiqueta,CalifProductor,Clasificacion,Region,PrecioBotella
0,0,0,0.39,0.14,4.99,0.073,1.02195,5.9,0.12,6.6,4,5,0,1.0,4.56
2,0,0,1.44,-1.54,5.10,0.058,0.99271,7.1,0.39,10.2,4,2,0,1.0,1.00
3,0,0,0.50,0.30,5.23,0.276,0.99590,3.5,-0.81,4.4,3,4,0,3.0,1.85
4,0,0,-0.10,0.30,5.75,0.048,1.02724,7.2,0.44,10.1,2,2,0,1.0,1.28
6,0,0,0.85,0.14,5.74,0.169,0.96464,7.4,-0.99,10.1,3,4,0,1.0,2.10

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5876 entries, 0 to 6364
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Beneficio       5876 non-null   int64
 1   Compra          5876 non-null   int64
 2   Acidez          5876 non-null   float64
 3   AcidoCitrico    5876 non-null   float64
 4   pH              5876 non-null   float64
 5   CloruroSodico   5876 non-null   float64
 6   Densidad        5876 non-null   float64
 7   Azucar          5876 non-null   float64
 8   Sulfatos        5876 non-null   float64
 9   Alcohol         5876 non-null   float64
 10  Etiqueta        5876 non-null   int64
 11  CalifProductor  5876 non-null   int64
 12  Clasificacion   5876 non-null   int64
 13  Region          5876 non-null   float64
 14  PrecioBotella   5876 non-null   float64
dtypes: float64(10), int64(5)
memory usage: 734.5 KB

In [24]:
df.head()

,Beneficio,Compra,Acidez,AcidoCitrico,pH,CloruroSodico,Densidad,Azucar,Sulfatos,Alcohol,Etiqueta,CalifProductor,Clasificacion,Region,PrecioBotella
0,0,0,0.39,0.14,4.99,0.073,1.02195,5.9,0.12,6.6,4,5,0,1.0,4.56
2,0,0,1.44,-1.54,5.10,0.058,0.99271,7.1,0.39,10.2,4,2,0,1.0,1.00
3,0,0,0.50,0.30,5.23,0.276,0.99590,3.5,-0.81,4.4,3,4,0,3.0,1.85
4,0,0,-0.10,0.30,5.75,0.048,1.02724,7.2,0.44,10.1,2,2,0,1.0,1.28
6,0,0,0.85,0.14,5.74,0.169,0.96464,7.4,-0.99,10.1,3,4,0,1.0,2.10

In [25]:
columnas_a_convertir = ['Region', 'Clasificacion', 'CalifProductor', 'Etiqueta', 'Beneficio', 'Compra']
df[columnas_a_convertir] = df[columnas_a_convertir].astype('int16')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5876 entries, 0 to 6364
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Beneficio       5876 non-null   int16
 1   Compra          5876 non-null   int16
 2   Acidez          5876 non-null   float64
 3   AcidoCitrico    5876 non-null   float64
 4   pH              5876 non-null   float64
 5   CloruroSodico   5876 non-null   float64
 6   Densidad        5876 non-null   float64
 7   Azucar          5876 non-null   float64
 8   Sulfatos        5876 non-null   float64
 9   Alcohol         5876 non-null   float64
 10  Etiqueta        5876 non-null   int16
 11  CalifProductor  5876 non-null   int16
 12  Clasificacion   5876 non-null   int16
 13  Region          5876 non-null   int16
 14  PrecioBotella   5876 non-null   float64
dtypes: float64(9), int16(6)
memory usage: 527.9 KB

In [27]:
df.isnull().sum()

Beneficio         0
Compra            0
Acidez            0
AcidoCitrico      0
pH                0
CloruroSodico     0
Densidad          0
Azucar            0
Sulfatos          0
Alcohol           0
Etiqueta          0
CalifProductor    0
Clasificacion     0
Region            0
PrecioBotella     0
dtype: int64

In [29]:
df.to_csv('Vino_normalizado.csv', index=False)